.book-pages{
    background-color: white;
}

.card-1{
    height:9rem;
    width: 100%;
    background-image: url("../assets/tour-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

// .card-2{
//     height:9rem;
//     width: 100%;
//     background-image: url("../assets/tour-2.png");
//     background-repeat: no-repeat;
//     background-size: cover;
// }

