.imggrid{
    margin-top: $gridgutter * 4;
}
#clients{
    margin-top: $gridgutter * 4;
    h2{
        font-size: 56px;
        line-height: 68px;
        margin: 0;
    }
    .clientslist{
        margin-top: $gridgutter * 2;
        img{
            @extend .animate;
            box-sizing: border-box;
            padding: $gridgutter / 2;
            opacity: 0.4;
            &:hover{
                opacity: 1;
            }
        }
    }
}

.imgfit-portfolio, .imgfit-clients{
    display: block;
    width: 100%;
 } 
 
.imgfit-portfolio img, .imgfit source, .imgfit-clients img{
    display: block;
    width: 100%;
    height: auto; 
}

@media (min-width: 768px) {
    .imggrid{
        margin-top: $gridgutter * 4;
    }
    #clients{
        margin-top: $gridgutter * 4;
        h2{
            font-size: $gridgutter * 3;
            margin: 0;
        }
        .clientslist{
            margin-top: $gridgutter * 2;
            img{
                @extend .animate;
                box-sizing: border-box;
                padding: $gridgutter / 2;
                opacity: 0.4;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }

    .imgfit-clients{
        display: block;
        width: 50%;
        padding-left: 9rem;
    } 
    
    .imgfit source, .imgfit-clients img{
        display: block;
        width: 100%;
        height: auto; 
    }
}

@media (min-width: 1200px) {
    .imgfit-clients{
        display: block;
        padding-left: 0;
        width: 100%;
    } 
    
    .imgfit source, .imgfit-clients img{
        display: block;
        width: 100%;
        height: auto; 
    }
}